@{
    ViewData["Title"] = "Home Page";
}

<style>
    img{
        margin-top: 40px;
    }
    .disney{
        width: 200px;

    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <img src="/images/Robot.PNG">
        </div>
        <div class="col-6 col-md-4">
             <img class="disney" src="/images/disney.jpg">
             
        </div>
    </div>
</div>


