@{
    ViewData["Title"] = "Inicio";
}
<link rel="stylesheet" href="~/css/inicio.css">
<style>

</style>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <img class="robot" src="/images/Robot.PNG">
        </div>
        <div class="row" id="row">
            <div class="col-3 col-md-2">
                <img class="imagen" src="/images/disney.jpg">
                <img class="imagen" src="/images/barbie.PNG">
            </div>
            <div class="col-3 col-md-2">
                <img class="lego" src="/images/lego.jpg">
                <img class="imagen" src="/images/hasbro.PNG">
            </div>
    </div>
    </div>



    <!--FOOTER-->
<footer style="margin-top: 100px;">
        <div class="container-footer-all">
            <div class="container-body">
                <div class="colum1">
                    <h1>Mas informacion de la compañia</h1>
                    <p>Esta compañia se dedica a la venta dejuguetes de ka mejor calidad.</p>
                </div>

                <div class="colum2">
                    <h1>Redes Sociales</h1>
                    <div class="row">
                        <img src="../../wwwroot/icon/facebook.png">
                        <label>Siguenos en Facebook</label>
                    </div>
                    <div class="row">
                        <img src="../../wwwroot/icon/twitter.png">
                        <label>Siguenos en Twitter</label>
                    </div>
                    <div class="row">
                        <img src="../../wwwroot/icon/instagram.png">
                        <label>Siguenos en Instagram</label>
                    </div>
                    <div class="row">
                        <img src="../../wwwroot/icon/google-plus.png">
                        <label>Siguenos en Google Plus</label>
                    </div>
                    <div class="row">
                        <img src="../../wwwroot/icon/pinterest.png">
                        <label>Siguenos en Pinteres</label>
                    </div>
                </div>

                <div class="colum3">
                    <h1>Informacion Contactos</h1>
                    <div class="row2">
                        <img src="../../wwwroot/icon/house.png">
                        <label>La Romana,
                            La molina
                            Las padreras
                            Casa # 27</label>
                    </div>

                    <div class="row2">
                        <img src="../../wwwroot/icon/smartphone.png">
                        <label>+51-829-395-2064</label>
                    </div>

                    <div class="row2">
                        <img src="../../wwwroot/icon/contact.png">
                        <label>PlayToy1030@gmail.com </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-footer">
            <div class="footer">
                <div class="copyright">
                    © 2019 Todos los Derechos Reservados | <a href="">Play Toys</a>
                </div>

                <div class="information">
                    <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos
                        y Condiciones</a>
                </div>
            </div>
        </div>
    </footer>
</div>



