@{
    ViewData["Title"] = "Inicio";
}

<style>
    img{
        margin-top: 40px;
    }
    .imagen{
        width: 200px;

    }
    .lego{
        width: 150px;
        margin-top: 5px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <img src="/images/Robot.PNG">
        </div>
        <div class="row">
            
            <div class="col-3 col-md-2">
                <img class="imagen" src="/images/disney.jpg">
                <img class="imagen" src="/images/barbie.PNG">
            </div>
            <div class="col-3 col-md-2">
                <img class="lego" src="/images/lego.jpg">
                <img class="imagen" src="/images/hasbro.PNG">
            </div>
    </div>

    </div>
</div>


