<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../wwwroot/css/Principal.css">
    <link rel="stylesheet" href="../../wwwroot/css/fontello.css">
    <link rel="stylesheet" href="../../wwwroot/css/slider.css">
    <link rel="stylesheet" href="../../wwwroot/css/tarjetas.css">
    <link rel="stylesheet" href="../../wwwroot/css/foter.css">
    <script src="../../wwwroot/js/menu.js"></script>

<body id="myPage">
    </head>

    <body>
        <!-- Sidebar on click -->
        <nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2"
            id="mySidebar">
            <a href="javascript:void(0)" onclick="w3_close()"
                class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
                <i class="fa fa-remove"></i>
            </a>
            <a href="#" class="w3-bar-item w3-button">Interactivos</a>
            <a href="#" class="w3-bar-item w3-button">Mesa</a>
            <a href="#" class="w3-bar-item w3-button">Modernos 3</a>

        </nav>

        <!-- Navbar -->
        <div class="w3-top">
            <div class="w3-bar w3-theme-d2 w3-left-align">
                <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2"
                    href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
                <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>PLAY
                    TOYS</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Nosotros</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Sedes</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Regitrate</a>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Iniciar secion</a>
                <div class="w3-dropdown-hover w3-hide-small">
                    <button class="w3-button" title="Notifications">categoria <i class="fa fa-caret-down"></i></button>
                    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                        <a href="#" class="w3-bar-item w3-button">Interactivos</a>
                        <a href="#" class="w3-bar-item w3-button">Mesa</a>
                        <a href="#" class="w3-bar-item w3-button">Modernos</a>
                    </div>
                </div>
                <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i
                        class="fa fa-search"></i></a>
            </div>

            <!-- Barra de navegacion en movil -->
            <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
                <a href="#" class="w3-bar-item w3-button">Nosotros</a>
                <a href="#" class="w3-bar-item w3-button">Sedes</a>
                <a href="#" class="w3-bar-item w3-button">Registrate</a>
                <a href="#" class="w3-bar-item w3-button">Iniciar secion</a>
                <a href="#" class="w3-bar-item w3-button">Search</a>
            </div>
        </div>
        <div class="content-all">
            <div class="content-img" id="img1">
                <a href="#img5" class="icon-left-open"></a>
                <img src="../../wwwroot/images/niños2.jpg">
                <a href="#img2" class="icon-right-open"></a>
            </div>
            <div class="content-img" id="img2">
                <a href="#img1" class="icon-left-open"></a>
                <img src="../../wwwroot/images/niños1.jpg">
                <a href="#img3" class="icon-right-open"></a>
                <div class="content-details">
                    <h3>Bienvenido a play toys </h3>
                    <p>Mas de 5 años haciendo felices a los niños.</p>
                    <input type="button" value="compra ya "><br><br>
                    <h3>Los mejores juguetes</h3>
                </div>
            </div>
            <div class="content-img" id="img3">
                <a href="#img2" class="icon-left-open"></a>
                <img src="../../wwwroot/images/niños3.jpg">
                <a href="#img4" class="icon-right-open"></a>
            </div>
            <div class="content-img" id="img4">
                <a href="#img3" class="icon-left-open"></a>
                <img src="../../wwwroot/images/niños4.jpg">
                <a href="#img5" class="icon-right-open"></a>
            </div>
            <div class="content-img" id="img5">
                <a href="#img4" class="icon-left-open"></a>
                <img src="../../wwwroot/images/niños5.jpg">
                <a href="#img1" class="icon-right-open"></a>
            </div>
        </div>

        <div class="contenedor" style="margin-top: 100pX;">
                <div class="contenedor_tarjeta">
                    <a href=""></a>
                        <figure id="tarjeta">
                            <img src="../../wwwroot/images/disney.jpg" class="frontal" alt="">
                            <figcaption class="trasera">
                                <h2 class="titulo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, vero!</h2>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate voluptates ipsum suscipit, aspernatur eum, amet nemo architecto nihil corrupti.</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
        
                <div class="contenedor_tarjeta">
                    <a href="">
                        <figure id="tarjeta">
                            <img src="../../wwwroot/images/hasbro.png" class="frontal" alt="">
                            <figcaption class="trasera">
                                <h2 class="titulo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, vero!</h2>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate voluptates ipsum suscipit, aspernatur eum, amet nemo architecto nihil corrupti.</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
        
                <div class="contenedor_tarjeta">
                    <a href="">
                        <figure id="tarjeta">
                            <img src="../../wwwroot/images/lego.jpg" class="frontal" alt="">
                            <figcaption class="trasera">
                                <h2 class="titulo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, vero!</h2>
                                <hr>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis cupiditate voluptates ipsum suscipit, aspernatur eum, amet nemo architecto nihil corrupti.</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        



        <footer style="margin-top: 200px;">
            <div class="container-footer-all">
                <div class="container-body">
                    <div class="colum1">
                        <h1>Mas informacion de la compañia</h1>
                        <p>Esta compañia se dedica a la venta dejuguetes de ka mejor calidad.</p>
                    </div>

                    <div class="colum2">
                        <h1>Redes Sociales</h1>
                        <div class="row">
                            <img src="../../wwwroot/icon/facebook.png">
                            <label>Siguenos en Facebook</label>
                        </div>
                        <div class="row">
                            <img src="../../wwwroot/icon/twitter.png">
                            <label>Siguenos en Twitter</label>
                        </div>
                        <div class="row">
                            <img src="../../wwwroot/icon/instagram.png">
                            <label>Siguenos en Instagram</label>
                        </div>
                        <div class="row">
                            <img src="../../wwwroot/icon/google-plus.png">
                            <label>Siguenos en Google Plus</label>
                        </div>
                        <div class="row">
                            <img src="../../wwwroot/icon/pinterest.png">
                            <label>Siguenos en Pinteres</label>
                        </div>
                    </div>

                    <div class="colum3">
                        <h1>Informacion Contactos</h1>
                        <div class="row2">
                            <img src="../../wwwroot/icon/house.png">
                            <label>La Romana,
                                La molina
                                Las padreras
                                Casa # 27</label>
                        </div>

                        <div class="row2">
                            <img src="../../wwwroot/icon/smartphone.png">
                            <label>+51-829-395-2064</label>
                        </div>

                        <div class="row2">
                            <img src="../../wwwroot/icon/contact.png">
                            <label>PlayToy1030@gmail.com</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-footer">
                <div class="footer">
                    <div class="copyright">
                        © 2019 Todos los Derechos Reservados | <a href="">Play Toys</a>
                    </div>

                    <div class="information">
                        <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos
                            y Condiciones</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>