<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Legeo</title>
</head>
<link rel="stylesheet" href="~/css/logeo.css">
<script src="~/js/logeo.js"></script>
<body>
    <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="text" placeholder="Ingrese su correo"/>
        <input type="password" placeholder="Ingrese su contrase単a"/>
        <input type="password" placeholder="Cmfirme su contrase単a su cintrase単a"/>
        <button>Aceptar</button>
        <p class="message">No esta registrado <a asp-controller="Home" asp-action="Recuperar contrase単a">Create otra cuenta</a></p>
      </form>
    </div>
  </div>
</body>
</html>