
<link rel="stylesheet" href="~/css/logeo.css">
<script src="~/js/logeo.js"></script>
<br>
<br>
    <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="text" placeholder="Ingrese su correo"/>
        <input type="password" placeholder="Ingrese su contraseña"/>
        <input type="password" placeholder="Confirme su contraseña "/>
        <button>Aceptar</button>
        <p class="message">No esta registrado <a asp-controller="Home" asp-action="Recuperar contraseña">Create otra cuenta</a></p>
      </form>
    </div>
  </div>
