@{
    ViewData["Title"] = "Inicio";
}

<link rel="stylesheet" href="~/css/registrar.css">
<script src="~/js/registrar.js"></script>

                      <!--    <div style="background-color:#FCB746;">
                            <div class="container">
                                    <div class="topnav" id="myTopnav">
                                      <a href="#home" ><img src="dino.png" style="width:250px; height:200px;"></a>

                                      <a href="#home" >Inicio</a>
                                      <a href="#news">Nosotros</a>
                                      <a href="#contact">Sedes</a>
                                      <a href="#about">Categoría</a>
                                      <a href="#about">Iniciar sesión</a>

                                      <a href="#about" style="background-color: black;" class="active">	Registrarse</a>
                                      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                        <i class="fa fa-bars"></i>
                                      </a>
                                    </div>
                            </div>
                          </div>
                      -->
                      <div class="contain">
                              <div class="form__top">
                                <h2><span>Crear una cuenta</span></h2>
                              </div>
                              <form class="form__reg" action="">
                                  <input class="input" type="text" placeholder="&#9993;  DNI" required>
                                <input class="input" type="text" placeholder="&#128100;  Nombre" required autofocus>
                                <input class="input" type="text" placeholder="&#128100;  Apellido paterno" required autofocus>
                                <input class="input" type="text" placeholder="&#128100;  Apellido materno" required autofocus>
                                <input class="input" type="date" placeholder="&#128100;  Fecha de nacimiento" required autofocus>
                                      <input class="input" type="password" placeholder="&#9993;  Contraseña" required>
                                        <input class="input" type="password" placeholder="&#9993;  Repetir Contraseña" required>
                                        <input class="input" type="email" placeholder="&#9993;  Email" required>
                                    
                                      <div class="btn__form">
                                        <input class="btn__submit" type="submit" value="REGISTRAR">
                                        <input class="btn__reset" type="reset" value="LIMPIAR">
                                      </div>
                              </form>
                            </div>
