<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js"></script>
	<link rel="stylesheet" href="~/css">
	<link rel="stylesheet" href="">

	<title>Galeria d eproductos</title>
</head>
<body>
		
	<div class="contenedor">
		<header>
			<div class="logo">
				<h1></h1>
				<p></p>
			</div>
				<div class="barra">
					<input type="text" class="barra-busqueda" id="barra-busqueda" placeholder="Buscar">
				</div>
			<div class="categorias" id="categorias">
				<a href="#" class="activo">Todos</a>
				<a href="#">Colecionables</a>
				<a href="#">Interactivo</a>
				<a href="#">Mesa</a>
				<a href="#">Modernos</a>
			</div>
		</header>

		<section class="grid" id="grid">
			<div class="item" 
			data-categoria="interactivo"  
				data-etiquetas="armables aprender"  
				data-descripcion="un juguete para un niño de 5 años"
			>
				<div class="item-contenido">
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQqyWKrheVwbGPj7rAxB9jaImYCAey7VlZozw2mmxghk-yFMQvT" alt="">					
						<input type="button" value="Detalle" class="upload">
			    </div>
			</div>

			<div class="item"
			data-categoria="interactivo"  
				 data-etiquetas="aprender dinamico"
				 data-descripcion="un juguete ideal para un niño o niña en crecimiento"
				 
			>
				<div class="item-contenido">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRu_du9iRBhcmtMBrKP_Wl355KYQMAY1o9r0i1OdhPi5I0TyO8J" alt="">
					<input type="button" value="Detalle" class="upload">
				</div>
			</div>

			<div class="item"
				 data-categoria="colecionables"
				 data-etiquetas="androide funko"
				 data-descripcion="androide 17 del anime Dragon Ball."
			>
				<div class="item-contenido">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTGq3OCLtaCIvuPjVLoy8-ReCi_TNiCUcYHvmUqE6qwB8J9S02x" alt="">
					<input type="button" value="Detalle" class="upload">
				</div>
			</div>

			<div class="item"
				 data-categoria="colecionables"
				 data-etiquetas="marvel funko thanos"
				 data-descripcion="un juguete colecionable de la pelicula Avengers"
			>
				<div class="item-contenido">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR8QnPB2wQ7kDvjAqxQfJsTYZzdpiCdi3XpZQP53gZxeK10pOGi" alt="">
					<input type="button" value="Detalle" class="upload">
				</div>
			</div>

			<div class="item"
				 data-categoria="colecionable"
				 data-etiquetas="marvel funko spiderman"
				 data-descripcion="un juguete colecionable de la pelicula Avengers"
			>
				<div class="item-contenido">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTLxB7L-pSppjy1aL34AWG54jD6Iax0tXOnYhufjzTLUUt7ikWS" alt="">
					<input type="button" value="Detalle" class="upload">
				</div>
			</div>

			<div class="item"
				 data-categoria="colecionables"
				 data-etiquetas="marvel funko groot"
				 data-descripcion="un juguete colecionable de la pelicula guardianes de la galaxia"
			>
				<div class="item-contenido">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQQiLmvS3k98VeMHCRQYVTUy_GNfyM3EamZdGIJb0OUMTDQFqXi" alt="">
					<input type="button" value="Detalle" class="upload">
				</div>
			</div>

			<div class="item"
				 data-categoria="mesa"
				 data-etiquetas="ajedrez Harry Potyer"
				 data-descripcion="ajedrez interactivo basado en la saga escrita por JK rowling."
			>
				<div class="item-contenido">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRRVdUJ0lIGX9MNaBW4fvl6-YPWBJNdBCrKKSxdBoMuNKIlBgIo" alt="">
					<input type="button" value="Detalle" class="upload">
				</div>
			</div>

			<div class="item" 
				 data-categoria="modernos"
				 data-etiquetas="helicoptero"
				 data-descripcion="un helicoptero a contrl remoto"
			>
				<div class="item-contenido">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS1yQJwQtP9yGMztMofNkOxfxrSa1oF6Rju6bavomG0mCdxkpWZ" alt="">
					<input type="button" value="Detalle" class="upload">
				</div>
			</div>

			<div class="item"
				 data-categoria="modernos"
				 data-etiquetas="ferbi peluches"
				 data-descripcion="Un juguete moderno e interactivo que ayudara a los niños a saber cuidar una mascota".
				 	"
			>
				<div class="item-contenido">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTX-VZp2MOiZ40wFaNpB2pngqqfL7hM8YYSvgfhwI3uVIjAHpOD" alt="">
					<input type="button" value="Detalle" class="upload">
				</div>
			</div>
		</section>

		<section class="overlay" id="overlay">
			<div class="contenedor-img">
				<button id="btn-cerrar-popup"><i class="fas fa-times"></i></button>
				<img src="" alt="">
			</div>
			<p class="descripcion"></p>
		</section>

	<script src="https://unpkg.com/web-animations-js@2.3.2/web-animations.min.js"></script>
	<script src="https://unpkg.com/muuri@0.8.0/dist/muuri.min.js"></script>
	<script src="~/js/main.js"></script>
</body>
</html>