    .robot{
        margin-top: 90px;
    }

    #row{
        margin-top: 50px;
    }
    .imagen{
        width: 200px;
        margin-top: 40px;

    }
    .lego{
        width: 150px;
        margin-top: 75px;
    }