@model Usuario

<link rel="stylesheet" href="~/css/logeo.css">
<script src="~/js/logeo.js"></script>
<br>

<br><br><br><br>

    <div class="login-page">
    <div class="form">
      <form class="login-form" method="post" asp-controller="Usuario" asp-action="Logeo">
        <input asp-for="User" type="text" placeholder="username"/>
        <input asp-for="Contrasena"type="password" placeholder="password"/>
        <button>login</button>
        <p class="message">No esta registrado <a asp-controller="Usuario" asp-action="Registrar">Create una cuenta</a></p>
        <p class="message">Recuperar contraseña  <a asp-controller="Home" asp-action="RecuperarCuenta">Recupera tu cuenta</a></p>
      </form>
    </div>
  </div>