@model Usuario
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Legeo</title>
</head>
<link rel="stylesheet" href="~/css/logeo.css">
<script src="~/js/logeo.js"></script>
<body>
    <div class="login-page">
    <div class="form">
      <form class="login-form" method="post" asp-action="Logeo">
        <input asp-for="User" type="text" placeholder="username"/>
        <input asp-for="Contrasena"type="password" placeholder="password"/>
        <button>login</button>
        <p class="message">No esta registrado <a asp-controller="Usuario" asp-action="Registrar">Create una cuenta</a></p>
        <p class="message">Recuperar contraseña  <a asp-controller="Home" asp-action="RecuperarCuenta">Recupera tu cuenta</a></p>
      </form>
    </div>
  </div>
</body>
</html>